:root {
    --primary: #ffffff;
    --secundary: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

}
/* RESERT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background-color: black;
}
.main-menu ul {
  display: flex;
  flex-direction: row;

}
header .main-menu li a {
  color: white;
}

.cabecera1{
  width: 100%;
  height: 800px;
}

  section{
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    text-align: justify;
    box-shadow: 10px 10px black;
  }
  .box {
    width: 300px;
    min-height: 300px;
    padding: 20px;
    border: 2px solid red;
    background: url();
    






  }           {

  




